<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
</head>
<body>


  <div class="centered">

    <h2>List of useless operations </h2>
    <div class="btn-group">
      <%= link_to '<button type="button">Operation1</button>'.html_safe, one_path%>
      <%= link_to '<button type="button">Operation2</button>'.html_safe, two_path %>
      <%= link_to '<button type="button">Operation3</button>'.html_safe, three_path %>
      <%= link_to '<button type="button">About Us</button>'.html_safe, about_path %>

    </div>
  </div>


</body>
</html>

